APP_NAME=Ricks Energy Manager API
APP_VERSION=0.1.0
DEBUG_MODE=True
DATABASE_URL="mysql+pymysql://u288106130_temp:~x3Qju&hRO@srv936.hstgr.io:3306/u288106130_rem?charset=utf8mb4"
FRONTEND_ORIGIN=http://localhost:5173
