APP_NAME=Ricks Energy Manager API
APP_VERSION=0.1.0
DEBUG_MODE=False
DATABASE_URL=mysql+pymysql://u288106130_temp:FNEgXJ3e|@srv936.hstgr.io:3306/u288106130_rem?charset=utf8mb4
DATABASE_AUTO_CREATE=False
DATABASE_AUTO_SEED=False
FRONTEND_ORIGIN=https://your-frontend-domain.com