APP_NAME=Ricks Energy Manager API
APP_VERSION=0.1.0
DEBUG_MODE=False
DATABASE_URL=mysql+pymysql://DB_USER:DB_PASSWORD@DB_HOST:3306/DB_NAME?charset=utf8mb4
DATABASE_AUTO_CREATE=False
DATABASE_AUTO_SEED=False
FRONTEND_ORIGIN=https://your-frontend-domain.com